{% extends 'layout.html' %} {% block body %}
<div class="container-fluid mt-1">
  <h1 class="my-3">Patient Register</h1>
  <form form action="{{url_for('pat')}}" method="post">
    <div class="mb-3 col-xl-5" class="form-group">
      <label for="FirstName" class="form-label">Firstname</label>
      <input type="text" name="Fname" required class="form-control" />
    </div>
    <div class="mb-3 col-xl-5">
      <label for="LastName" class="form-label">Lastname</label>
      <input type="text" name="Lname" required class="form-control" />
    </div>
    <div class="mb-3 col-xl-5">
      <label for="UserEmail" class="form-label">Email</label>
      <input type="email" name="email" required class="form-control" />
    </div>
    <div class="mb-3 col-xl-5">
      <label for="UserPhone" class="form-label">Phone</label>
      <input type="text" name="phone" required class="form-control" />
    </div>

    <div class="mb-3 col-xl-10">
      <label for="Location" class="form-label">Location</label>
      <input name="Location" type="text" class="form-control" />
    </div>
    <div class="mb-3 col-xl-10">
      <label for="medicalc" class="form-label">Medical complications</label>
      <input name="medicalc" type="text" class="form-control" />
    </div>
    <div class="mb-3 col-xl-10">
      <label for="age" class="form-label">Age</label>
      <input name="age" type="text" class="form-control" />
    </div>
    <div class="mb-3 col-xl-10">
      <label for="Gender" class="form-label">Gender</label>
      <select class="choose-opt" name="choose-g">
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <div class="dropdown col-xl-10 mt-4">
      <label for="choose-opt" class="form-label">Blood Group</label>
      <select class="choose-opt" name="Choose-bg">
        <option value="O+">O+</option>
        <option value="O-">O</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
      </select>
    </div>
    <div class="mb-3 col-xl-10">
      <label for="Drname" class="form-label">Doctor Assigned</label>
      <input name="Drname" type="text" class="form-control" />
    </div>
    <div class="mb-3 col-xl-10">
      <label for="Ctname" class="form-label">Care Taker Assigned</label>
      <input name="Cname" type="text" class="form-control" />
    </div>
    <div class="mb-3 col-xl-5">
      <label for="UserPassword" class="form-label">Password</label>
      <input type="password" name="upass" required class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" role="button">
      Register
    </button>
    <a type="submit" class="btn btn-primary mx-3 my-3" href="./login.html"
      >Login</a
    >
  </form>
</div>
{% endblock %}
