body{
    background-image: url(../13081-01-gradient-designs-powerpoint-backgrounds-16x9-1.jpg);
    background-size: cover;
    color: white;
}

.white{
    color: white;
}

.header{
    text-align: center;
}

.table td{
    border: 1px solid white;
    /* border-left: 1px solid white; */
}

.table th{
    
   border: 1px solid white;
    
}