.diet{
    width: 400px;
}

.meds{
    margin-top: 30px;
    width: 400px;
}

body{
    background-image: url(../13081-01-gradient-designs-powerpoint-backgrounds-16x9-1.jpg);
    color: white;
}

.header{
    text-align: center;
    margin-top: 30px;
}